body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header, nav, main, footer {
    margin: auto;
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4 {
    color: #0275d8;
}

.header, .nav, .footer {
    text-align: center;
}

.project-year {
    margin-bottom: 40px;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

.project h4 {
    margin-top: 0;
}

.project p {
    line-height: 1.6;
}

.project a {
    display: inline-block;
    background-color: #0275d8;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project a:hover {
    background-color: #025aa5;
}

footer {
    text-align: center;
    margin-top: 40px;
}

.tag {
    display: inline-block;
    background-color: #007bff; /* Bootstrap primary blue, you can change this */
    color: #ffffff;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
    margin-left: 5px;
    white-space: nowrap;
}

.project h4 {
    font-size: 24px; /* Adjust the size as needed */
    text-align: center;
    margin-top: 0;
    display: block; /* Ensures the title takes up the full width for centering */
}



.medium-img {
    width: 100%; /* Adjust this value as needed, could be 50%, 75%, etc. */
    max-width: 600px; /* Adjust based on your preference and the natural size of the image */
    display: block;
    margin: 20px auto; /* Centers the image and adds some space above and below */
}

.results-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.result-img {
    width: 256px;
    height: 256px;
    object-fit: cover; /* This will ensure images are scaled correctly */
}

.result-imgw {
    width: 300px;
    height: 256px;
    object-fit: cover; /* This will ensure images are scaled correctly */
}

#open-source-contributions {
    background-color: #f8f8f8; /* Light grey background */
    color: #333; /* Darker text color for contrast */
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px; /* Optional: Adds rounded corners to the section */
}

#open-source-contributions h2 {
    text-align: center;
    color: #333;
}

#open-source-contributions .contribution h4 {
    color: #333;
}

#open-source-contributions .contribution a {
    color: #fff;
    background-color: #2c3e50; /* A darker color for the buttons to stand out */
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners for the buttons */
    transition: background-color 0.3s;
}

#open-source-contributions .contribution a:hover {
    background-color: #273140; /* A slightly different shade on hover for the buttons */
}


.contribution-year {
    margin-bottom: 40px;
}

.contribution h4 {
    font-size: 20px;
    text-align: left;
    margin-top: 0;
}

.contribution p {
    line-height: 1.6;
}

.contribution a {
    display: inline-block;
    background-color: #0275d8;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.contribution a:hover {
    background-color: #025aa5;
}

